<div
  class="flex sm:flex-col sm:items-center gap-2 justify-center bg-white p-4 rounded-lg"
>
  <div>
    <img
      class="w-24 h-24 border-2 rounded-lg"
      src="/empty-photo.svg"
      alt="photo"
    />
  </div>
  <div class="flex-1 flex flex-col justify-between gap-5">
    <div class="flex flex-col sm:items-center">
      <h1 class="font-bold text-lg">Unity Programmer</h1>
      <h3 class="text-sm">Machine Vision</h3>
      <p class="font-semibold text-sm text-slate-400 opacity-60">2021 - 2023</p>
    </div>
    <div class="flex flex-wrap gap-2 sm:justify-center">
      <span
        class="text-xs font-semibold text-white bg-primary px-2 py-1 rounded-full"
        >C#</span
      >
      <span
        class="text-xs font-semibold text-white bg-primary px-2 py-1 rounded-full"
        >Unity</span
      >
      <span
        class="text-xs font-semibold text-white bg-primary px-2 py-1 rounded-full"
        >NodeJS</span
      >
    </div>
  </div>
</div>
